snippet doxy_header "Doxygen Header" b
/**
 * @file    `!p snip.rv = fn`
 *
 * @author  `!v g:snips_author`
 * @date    `date +%d/%m/%Y`
 * @brief   ${1}
 *
 * Project: ${2}
 */
endsnippet

snippet inc_std "Include STD header" b
/**
 * STD includes
 */
endsnippet
